/* because of the fixed navbar 'ghost' element was inserted  */
body::before {
  display: block;
  content: '';
  height: 50px;
}

a {
  text-decoration: none;
}

.app-image {
  height: 250px;
  width: 250px;
  margin-top: 1rem;
}

#map {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}
